<div th:fragment="table_panel"  xmlns:th="http://www.thymeleaf.org">
 <div class="bg-white border border-1">
 <div class="bg-light p-2">
 <h5>All users</h5>
 </div>
  <table class="table table-borderless table-striped table-hover">
    <thead>
  <tr class="border-top">
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Role</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="lst : ${list}">
      <td th:utext="${lst.getId()}">Id</td>
      <td th:utext="${lst.getName()}">Name</td>
      <td th:utext="${lst.getAge()}">Age</td>
      <td th:utext="${lst.getEmail()}">Mail</td>
      <td th:utext="${lst.getShotRoles()}">Role</td>
      <td>
              <a th:href="@{'admin/edit/' + ${lst.getId()}}"
              class="btn btn-sm edit-button" style="background: lightseagreen; color: white">Edit</a>
      </td>
      <td>
        <a type="button"  class="btn btn-sm btn-danger delete-button" th:href="@{'admin/pre_delete/' + ${lst.getId()}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
 </div>


